@model IEnumerable<baseConhecimento.Models.problema>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nossos Problemas</h2>

<p>
    @Html.ActionLink("Novo problema", "Create")
</p>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{
    int i = 1;
}

<div id="tabela">
    <div class="linha">

        @foreach (var problema in Model)
        {
            <a href="/Problemas/Details/@problema.id_problema">
                <div class="coluna" id="@i">
                    <img src="~/Imagens/@(problema.imagem).jpg" alt="Sem Imagem">
                    <p class="nome"> @problema.nome </p>
                    @*Html.ActionLink(itens.nome, "Details", new { id = itens.id_ic })*@
                </div>
                @*Html.ActionLink("Detalhes", "Details", new { id = itens.id_ic }) |*@
                <div>
                </div>
            </a>
            i = ++i;
        }
    </div>
</div>


@*foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_problema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ranking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagem)
        </td>
         <td>
             
         </td>


        @*for (int i = 0; i < item.item.Count(); ++i)
        {
            <td>
                @Html.DisplayFor(m => item.item[i].nome)
            </td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
</table>
*@